:host {
  display: flex;
  height: 100%;
  overflow: hidden;

  .l-downloads {
    display: flex;
    flex: 1 1;
    flex-flow: column nowrap;
    overflow: auto;
    padding: 0px 30px;

    mat-card {
      margin-bottom: 12px;
    }
  }

  .l-download {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  .c-download {
    display: flex;
    height: 36px;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;

    &__title {
      display: flex;
      flex: 1 1;
      height: 100%;
      overflow: hidden;

      h4 {
        margin: 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
    }
  }

  .c-status {
    display: flex;
    flex: 0 0 24px;
    flex-flow: column nowrap;

    &__label {
      display: flex;
      justify-content: center;
      padding-bottom: 6px;
      font-size: 12px;
    }
  }

  .mat-list-item {
    height: 100px;
    overflow: hidden;

    &::ng-deep.mat-list-item-content {
      width: 100%;
      padding: 0px;
    }
  }
}
