:host {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  .l-search,
  .l-results {
    padding: 0px 30px;
  }

  .l-search {
    background-color: #252525;
    flex: 0 0 70px;
    display: flex;
    align-items: center;
  }

  .l-results {
    display: flex;
    flex: 1 1;
    flex-flow: column nowrap;
    overflow: auto;
  }

  .l-loading {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0.8;
    background-color: #383838;
  }
}
